:root {
  --base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --base-font-size: 16px;
  --base-line-height: 24px;

  --base-text-color: #333;
}

html, body {
    padding: 0;
    margin: 0
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: var(--base-font-size);
  font-family: var(--base-font-family);
  line-height: var(--base-line-height);
  color: var(--base-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 16px;
  font-weight: 400;
  font-family: var(--base-font-family);
}

h1 {
  font-size: 2em;
  line-height: 1.25;
}

h2 {
  font-size: 1.5em;
  line-height: 1.334;
}

h3 {
  font-size: 1.25em;
  line-height: 1.4;
}

h4 {
  font-size: 1em;
  line-height: 1.5;
}

h5 {
  font-size: 1em;
  line-height: 1.715;
}

h6 {
  font-size: .75em;
  color: #777;
}

p {
  margin-top: 0;
  margin-bottom: 16px;
}

@component NavList {
    margin: 0;
    padding: 0;
    list-style-type: none;

    @descendent item {
        margin: 0;
        padding: 0;
    }

    @descendent link {
        display: block;
        padding: 16px 24px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.870588);
        line-height: 16px;
        text-decoration: none;
    }
}
