@import "commons/styles/variables.css";
@import "commons/styles/media-queries.css";

:root {
  --base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  --base-font-size: 16px;
  --base-line-height: 1.6;

  --base-text-color: #333;

  --base-link-color: #4CAF50;
  --hover-link-color: #66BB6A;
  --visited-link-color: #81C784;

  --base-margin-step: 16px;


  --base-font-size: 22;
  --base-line-height: 1.5;
  --leading: calc(var(--base-line-height) * 1rem);

  --scale: 1.2;


  --theme-IronHasky-text-font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
  --theme-IronHasky-head-font-family: 'Roboto Slab', "Helvetica Neue", Helvetica, Arial, sans-serif;

  --theme-BronzeCollie-text-font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  --theme-BronzeCollie-head-font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, body {
    padding: 0;
    margin: 0
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: var(--base-font-family);
  line-height: var(--leading);
  color: var(--base-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: var(--base-font-family);

  margin-top: 0;
  margin-bottom: var(--leading);
  line-height: var(--leading);
}

h1 {
  font-size: 2 * var(--scale) * 1rem;
  line-height: 2 * var(--leading);
  margin-bottom: calc(2 * var(--leading));
}

h2 {
  font-size: calc(1.5 * var(--scale) * 1rem);
  line-height: calc(1.5 * var(--leading));
  margin-bottom: calc(1.5 * var(--leading));
}

h3 {
  font-size: calc(1 * var(--scale) * 1rem);
}

h4 {
  font-size: calc(var(--scale) / 2 * 1rem);
}

h5 {
  font-size: calc(var(--scale) / 3 * 1rem);
}

h6 {
  font-size: calc(var(--scale) / 4 * 1rem);
  color: #777;
}

p {
  margin-top: 0;
  margin-bottom: var(--leading);
  line-height: var(--leading);
}

hr {
  height: 2px;
  padding: 0;
  margin: var(--leading) 0;
  background-color: #e7e7e7;
  border: 0 none;
}

ul,
ol {
    margin-top: var(--leading);
    margin-bottom: var(--leading);
}
ul li,
ol li {
    line-height: var(--leading);
}
ul ul,
ol ul,
ul ol,
ol ol {
    margin-top: 0;
    margin-bottom: 0;
}
blockquote {
  position: relative;
  line-height: var(--leading);
  margin: var(--leading) 0;
  padding: 0 40px;
  color: #757575;
  font-size: 1.2rem;

  font-family: Georgia, serif;

  @media (--m) {
    padding-left: 60px;
    padding-right: 40px;
  }

  &:before {
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    position: absolute;
    left: -9px;
    top: 20px;
    color: #dedede;

    @media (--m) {
      left: -4px;
    }
  }

  cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
  }

  p {
    line-height: 1.8rem;
  }
}

pre, xmp, plaintext, listing {
  margin-top: 0;
  margin-bottom: var(--leading);
  padding: var(--leading);
  line-height: var(--leading);
  font-family: monospace;
  font-family: var(--base-font-family);
  background-color: #F5F5F5;
}

a {
  color: var(--base-link-color);

  &:hover {
    color: var(--hover-link-color);
  }

  &:visited {
    color: var(--visited-link-color);
  }
}

.Theme-IronHasky {
  font-family: var(--theme-IronHasky-text-font-family);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--theme-IronHasky-head-font-family);
    font-weight: 700;
  }
}
.Theme-BronzeCollie {
  font-family: var(--theme-BronzeCollie-text-font-family);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--theme-BronzeCollie-head-font-family);
    font-weight: 700;
  }
}

@component NavList {
    margin: 0;
    padding: 0;
    list-style-type: none;

    @descendent item {
        margin: 0;
        padding: 0;
    }

    @descendent link {
        display: block;
        padding: var(--base-margin-step) 24px;
        font-size: 14px;
        color: var(--base-text-color);
        line-height: 16px;
        text-decoration: none;

        &:hover {
          color: var(--base-text-color);
        }
        &:visited {
          color: var(--base-text-color);
        }
    }
}

@component AppRightPanel {
  @media (min-width: 1280px) {
    position: static!important;
    width: 500px!important;
  }
}

@component Content {
  max-width: 700px;
  margin: 0 auto 24px;
  padding: 24px 0;
}
