<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Мирари</title>
  <!-- CSS  -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link href="/bundle.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <div id="app">{{{ app }}}</div>
  <div id="devtools"></div>

  <script id="initialState" type="application/json">{{{ initialState }}}</script>
  <script src="/vendor.bundle.js"></script>
  <script src="/bundle.js"></script>
  </body>
</html>
