@component Article {
  display: block;
  margin-bottom: 72px;

  @descendent header {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    color: #757575;
    font-size: 14px;
    line-height: 1.3;
  }

  @descendent headerAvatar {
    margin-right: 16px;
  }

  @descendent body {}
  @descendent title {}

  @descendent titleLink {
    color: #212121;
    text-decoration: none;

    &:visited {
      color: #757575;
    }
  }
}
