@import "commons/styles/variables.css";
@import "commons/styles/media-queries.css";

@component Article {
  display: block;
  margin-bottom: 72px;

  @descendent header {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    color: #757575;
    font-size: 14px;
    line-height: 1.3;
  }

  @descendent headerAvatar {
    margin-right: 16px;
  }

  @descendent body {}
  @descendent title {}

  @descendent titleLink {
    color: #212121;
    text-decoration: none;

    &:after {
      content: 'прочитано';
      font-size: 0.7rem;
      position: relative;
      top: -6px;
      background-color: #fff;
      color: #fff;
      padding: 2px 5px;
      margin-left: 5px;
    }

    &:visited:after {
      background-color: #f3f8fb;
      color: #757575;
    }

    &:visited {
      color: #212121;
    }

    &:hover {
      color: #81C784;
    }
  }

  @descendent coverContainer {
    margin-bottom: 1.6rem;

    @media (--m) {
      margin-left: -5rem;
      margin-right: -5rem;
    }
  }

  @descendent cover {
    max-width: 100%;
  }

  @descendent readLabel {
    font-size: 0.7rem;
    position: relative;
    top: -5px;
    background: #e7f7ff;
    padding: 2px 5px;
    margin-left: 5px;
    display: none;

    .Article-titleLink:visited + & {
      display: inline-block;
    }
  }
}
