@import "commons/styles/variables.css";
@import "commons/styles/media-queries.css";

@component ArticleFooter {
  padding: 16px 24px;
  font-size: 14px;
  background-color: #f2f2f2;

  @media (--s) {
    display: flex;
    align-items: center;
  }

  @descendent item {
    @media (--s) {
      margin-left: 16px;
    }

    &:first-child {
      @media (--s) {
        margin-left: 0;
      }
    }
  }
}

@component ArticlesNavigation {
  padding: 20px 0 40px;

  @media (--s) {
    display: flex;
    justify-content: space-between;
  }

  @descendent link {
    display: block;
  }
}
