
@import "commons/styles/variables.css";
@import "commons/styles/media-queries.css";

@component AppFooter {
  font-size: 0.8rem;

  @descendent container {
    max-width: 700px;
    margin: 40px auto 0;
    display: flex;
  }

  @descendent item {
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }
  }

  @descendent itemLink {
    color: #868686;

    &:visited {
      color: #868686;
    }
    &:hover {
      color: #9c9c9c;
    }
  }
}
