@import url('https://fonts.googleapis.com/css?family=Istok+Web|Lora|Oranienbaum');
@import "./typebase.css";
:root {
  --app-container-width: 680px;
  --app-indent: 20px;

  --text-font-family: 'Lora', serif;
  --titles-font-family: 'Oranienbaum', serif;
  --interface-font-family: 'Istok Web', sans-serif;

  --header-link-color: #306F68;
  --header-heght: 43px;
}

body {
  background-color: rgba(255, 232, 189, 0.37);
}

@component ExpApp {
  font-family: var(--interface-font-family);
  @descendent container {
    margin-right: auto;
    margin-left: auto;
    padding-right: var(--app-indent);
    padding-left: var(--app-indent);
    max-width: var(--app-container-width);
  }
}

@component ExpHeader {
  position: relative;
  font-family: var(--interface-font-family);
  font-size: calc(var(--scale) / 2 * 1rem);

  @descendent natural {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    height: var(--header-heght);
    background-color: rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    transition: transform .15s ease;
    will-change: transform;

    .is-scrollDown > & {
      transform: translate3d(0, -100%, 0);
    }
    .is-scrollUp > & {
      transform: none;
    }
  }

  @descendent substitute {
    height: var(--header-heght);
  }

  @descendent container {
    display: flex;
    padding-right: var(--app-indent);
    padding-left: var(--app-indent);
  }

  @descendent item {
    @modifier divider {
      flex: 1;
    }
  }
  @descendent itemLink {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--header-link-color);
  }

  @descendent logo {}
  @descendent logoLink {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    align-items: center;
  }
  @descendent logoIcon {
    width: 32px;
    height: 32px;
  }
}

@component ExpArticle {
  @descendent header {}
  @descendent credits {
    line-height: var(--leading);
    margin-top: var(--leading);
    margin-bottom: 0;
    font-family: var(--interface-font-family);
    font-size: calc(var(--scale) / 2 * 1rem);
  }
  @descendent headerTitle,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--titles-font-family);
    text-indent: -0.5em;
    padding-left: 0.5em;
  }
  @descendent body,
  p {
    font-family: var(--text-font-family);
  }
  @descendent body {
    padding-bottom: calc(var(--scale) * 4rem);
  }
}

@component Interaction {
  padding-top: var(--leading);
  padding-bottom: var(--leading);
  background-color: #394e45;
  color: #ffe8bd;

  @descendent container {
    padding-right: var(--app-indent);
    padding-left: var(--app-indent);
  }
  @descendent title {
    padding-bottom: var(--leading);
    line-height: var(--leading);
    text-align: center;
    font-size: calc(var(--scale) * 1rem);
  }
  @descendent list {
    display: flex;
    margin-right: -var(--app-indent);
    margin-left: -var(--app-indent);
  }
  @descendent item {
    flex: 1;
    padding-right: var(--app-indent);
    padding-left: var(--app-indent);
  }
}
