@import url('https://fonts.googleapis.com/css?family=Istok+Web|Lora|Oranienbaum');
@import "./typebase.css";
:root {
  --app-container-width: 680px;
  --app-indent: 20px;

  --text-font-family: 'Lora', serif;
  --titles-font-family: 'Oranienbaum', serif;
  --interface-font-family: 'Istok Web', sans-serif;

  --header-link-color: #306F68;
}

body {
  background-color: rgba(255, 232, 189, 0.37);
}

@component ExpApp {
  font-family: var(--interface-font-family);
  @descendent container {
    margin-right: auto;
    margin-left: auto;
    padding-right: var(--app-indent);
    padding-left: var(--app-indent);
    max-width: var(--app-container-width);
  }
}

@component ExpHeader {
  display: flex;
  padding-right: var(--app-indent);
  padding-left: var(--app-indent);
  background-color: rgba(255,255,255,0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  font-family: var(--interface-font-family);
  font-size: calc(var(--scale) / 2 * 1rem);

  .is-scrollUp {
    /*TODO: скроллим вверх -- показываем*/
    position: fixed;
    top: 0;
  }
  .is-scrollDown {
    /*TODO: скроллим вниз -- прячем*/
    visibility: hidden;
  }

  @descendent item {
    @modifier divider {
      flex: 1;
    }
  }
  @descendent itemLink {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--header-link-color);
  }

  @descendent logo {}
  @descendent logoLink {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    align-items: center;
  }
  @descendent logoIcon {
    width: 32px;
    height: 32px;
  }
}

@component ExpAppArticle {
  @descendent header {}
  @descendent credits {
    font-family: var(--interface-font-family);
    font-size: calc(var(--scale) / 2 * 1rem);
  }
  @descendent headerTitle,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--titles-font-family);
    text-indent: -0.5em;
    padding-left: 0.5em;
  }
  @descendent articleBody,
  p {
    font-family: var(--text-font-family);
  }
  @descendent articleBody {
    padding-bottom: 30%;
  }
}

.cta-block {
  background-color: #394e45;
  color: #ffe8bd
}
